{
  "openapi": "3.0.3",
  "info": {
    "version": "1.0.0",
    "title": "CodivUpload API Reference",
    "description": "Publish content to 11 social media platforms with a single API call.\n\n## Authentication\n\nAll API requests require a Bearer token in the `Authorization` header:\n\n```\nAuthorization: Bearer YOUR_API_KEY\n```\n\n### Getting your API Key\n\n1. Log in to [CodivUpload Dashboard](https://app.codivupload.com)\n2. Go to **API Keys** from the sidebar menu\n3. Click **Create API Key** and copy the key\n4. Use the key in the `Authorization` header as shown above\n\n> **Important:** API keys are shown only once at creation. Store them securely. If lost, revoke and create a new one.\n\n> **Plan requirement:** API key access requires **Starter plan** or above. Free plan users can only use the dashboard UI.\n\n### Quick Test\n\n```bash\ncurl -X GET https://api.codivupload.com/v1/agency/profiles \\\n  -H \"Authorization: Bearer YOUR_API_KEY\"\n```\n\nA successful response returns your profiles:\n\n```json\n{\n  \"success\": true,\n  \"profiles\": [\n    {\n      \"id\": \"550e8400-...\",\n      \"profile_name\": \"my_brand\",\n      \"social_accounts\": { \"youtube\": true, \"instagram\": true, \"tiktok\": false }\n    }\n  ]\n}\n```\n\n### Error Responses\n\n| Status | Meaning | Example |\n|---|---|---|\n| `401` | Missing or invalid API key | `{ \"error\": \"Missing or invalid Authorization header\" }` |\n| `403` | Plan tier insufficient — API keys require Starter plan or above | `{ \"error\": \"This feature requires the Starter plan or above.\", \"required_tier\": \"starter\", \"current_tier\": \"free\", \"upgrade_url\": \"/dashboard/subscription\" }` |\n\n---"
  },
  "servers": [
    {
      "url": "https://api.codivupload.com/v1",
      "description": "Production API"
    },
    {
      "url": "http://localhost:3000/api/v1",
      "description": "Local Development"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "Pass your API key as a Bearer token in the Authorization header: `Authorization: Bearer YOUR_API_KEY`. Generate API keys from your CodivUpload Dashboard → API Keys menu."
      }
    },
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/agency/profiles": {
      "get": {
        "tags": [
          "Profiles"
        ],
        "summary": "List Profiles",
        "description": "Retrieve all profiles mapped to the authenticated workspace.\n\n**Authorization rules:**\n- All workspace members (owner and members) can list all profiles in their workspace.\n- Use the `created_by` field to identify which user created each profile.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "A list of Profiles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "profiles": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "The unique UUID of the profile"
                          },
                          "workspace_id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "The UUID of the workspace this profile belongs to"
                          },
                          "profile_name": {
                            "type": "string",
                            "description": "The display name of the profile"
                          },
                          "username": {
                            "type": "string",
                            "description": "The system username mapping"
                          },
                          "created_by": {
                            "type": "string",
                            "nullable": true,
                            "format": "uuid",
                            "description": "UUID of the user who created this profile. Null for legacy profiles."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Profile creation timestamp"
                          },
                          "social_accounts": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "boolean"
                            },
                            "description": "Key-value map of active platform connections",
                            "example": {
                              "youtube": true,
                              "tiktok": false
                            }
                          }
                        },
                        "required": [
                          "id",
                          "workspace_id",
                          "profile_name",
                          "username",
                          "created_by",
                          "created_at"
                        ]
                      }
                    }
                  },
                  "required": [
                    "success",
                    "profiles"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Missing or invalid Authorization header",
                  "example": {
                    "error": "Missing or invalid Authorization header"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Profiles"
        ],
        "summary": "Create Profile",
        "description": "Creates a new media management profile in the workspace.\n\n**Authorization rules:**\n- **Owner**: Can create profiles freely within the workspace.\n- **Member**: Can create profiles — the profile is automatically linked to the creator.\n- Members can only update/delete profiles they created. Owners can manage all profiles.\n\nThe `created_by` field is set automatically from the authenticated user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "minLength": 3,
                    "description": "Desired username for the new profile",
                    "example": "creative_studio_xyz"
                  }
                },
                "required": [
                  "username"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Profile created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "profile": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "username": {
                          "type": "string"
                        },
                        "profile_name": {
                          "type": "string"
                        },
                        "workspace_id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "created_at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "username",
                        "workspace_id",
                        "created_at"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "profile"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Missing or invalid Authorization header",
                  "example": {
                    "error": "Missing or invalid Authorization header"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Profile limit exceeded for current plan",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "example": {
                    "error": "Profile limit reached. Upgrade your plan to create more profiles."
                  }
                }
              }
            }
          },
          "409": {
            "description": "Profile with this username already exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Resource already exists",
                  "example": {
                    "error": "A profile with the provided username already exists"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/agency/profiles/{id}": {
      "delete": {
        "tags": [
          "Profiles"
        ],
        "summary": "Delete Profile",
        "description": "Permanently deletes a profile and all its associated media assets via cascading deletion.\n\n**Authorization rules:**\n- **Owner**: Can delete any profile in the workspace.\n- **Member**: Can only delete profiles they created (`created_by` must match the authenticated user).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The UUID of the profile to immediately delete"
            },
            "required": true,
            "description": "The UUID of the profile to immediately delete",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Profile deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Missing or invalid Authorization header",
                  "example": {
                    "error": "Missing or invalid Authorization header"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Not allowed — members can only delete profiles they created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Insufficient permissions for this action",
                  "example": {
                    "error": "You can only modify profiles you created. Workspace owners can modify all profiles."
                  }
                }
              }
            }
          },
          "404": {
            "description": "Profile not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Resource not found",
                  "example": {
                    "error": "Profile not found"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/agency/media": {
      "post": {
        "tags": [
          "Media"
        ],
        "summary": "Create Media Asset",
        "description": "Registers a new media asset. Can accept a single object or an array of objects for bulk insertion.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Display title of the media asset"
                      },
                      "profile_id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Profile UUID this media belongs to"
                      },
                      "source_type": {
                        "type": "string",
                        "default": "url",
                        "description": "Asset origin type"
                      },
                      "public_url": {
                        "type": "string",
                        "format": "uri",
                        "description": "Accessible CDN or origin URL"
                      },
                      "duration": {
                        "type": "number",
                        "description": "Duration in seconds (video/audio)"
                      },
                      "size": {
                        "type": "number",
                        "description": "Filesize in bytes"
                      }
                    },
                    "required": [
                      "title",
                      "profile_id",
                      "public_url"
                    ]
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "minLength": 1,
                          "description": "Display title of the media asset"
                        },
                        "profile_id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Profile UUID this media belongs to"
                        },
                        "source_type": {
                          "type": "string",
                          "default": "url",
                          "description": "Asset origin type"
                        },
                        "public_url": {
                          "type": "string",
                          "format": "uri",
                          "description": "Accessible CDN or origin URL"
                        },
                        "duration": {
                          "type": "number",
                          "description": "Duration in seconds (video/audio)"
                        },
                        "size": {
                          "type": "number",
                          "description": "Filesize in bytes"
                        }
                      },
                      "required": [
                        "title",
                        "profile_id",
                        "public_url"
                      ]
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Media Registered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "count": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "message",
                    "count"
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "List Media Assets",
        "description": "Fetch all media assets mapped to the authenticated workspace workspace. Pass ?profile_id to filter by a specific profile.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Filter by specific Profile UUID"
            },
            "required": false,
            "description": "Filter by specific Profile UUID",
            "name": "profile_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of Media Assets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Display title of the media asset"
                      },
                      "profile_id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Profile UUID this media belongs to"
                      },
                      "source_type": {
                        "type": "string",
                        "default": "url",
                        "description": "Asset origin type"
                      },
                      "public_url": {
                        "type": "string",
                        "format": "uri",
                        "description": "Accessible CDN or origin URL"
                      },
                      "duration": {
                        "type": "number",
                        "description": "Duration in seconds (video/audio)"
                      },
                      "size": {
                        "type": "number",
                        "description": "Filesize in bytes"
                      },
                      "id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Unique database identifier"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Creation timestamp"
                      },
                      "status": {
                        "type": "string",
                        "nullable": true,
                        "description": "Processing status"
                      },
                      "workspace_id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Owning workspace"
                      }
                    },
                    "required": [
                      "title",
                      "profile_id",
                      "public_url",
                      "id",
                      "created_at"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/agency/media/{id}": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "Get Media Details",
        "description": "Retrieve a single media asset by its UUID.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The UUID of the media asset"
            },
            "required": true,
            "description": "The UUID of the media asset",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Media Asset Details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "minLength": 1,
                      "description": "Display title of the media asset"
                    },
                    "profile_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Profile UUID this media belongs to"
                    },
                    "source_type": {
                      "type": "string",
                      "default": "url",
                      "description": "Asset origin type"
                    },
                    "public_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "Accessible CDN or origin URL"
                    },
                    "duration": {
                      "type": "number",
                      "description": "Duration in seconds (video/audio)"
                    },
                    "size": {
                      "type": "number",
                      "description": "Filesize in bytes"
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique database identifier"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Creation timestamp"
                    },
                    "status": {
                      "type": "string",
                      "nullable": true,
                      "description": "Processing status"
                    },
                    "workspace_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Owning workspace"
                    }
                  },
                  "required": [
                    "title",
                    "profile_id",
                    "public_url",
                    "id",
                    "created_at"
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Media"
        ],
        "summary": "Delete Media Asset",
        "description": "Auto-generated structure for /agency/media/{id}",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "default": "OK"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/agency/playlists": {
      "post": {
        "tags": [
          "Playlists"
        ],
        "summary": "Create Playlist",
        "description": "Creates a new media playlist and optionally initializes it with specific assets.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Name of the playlist"
                  },
                  "profile_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Profile UUID this playlist belongs to"
                  },
                  "loop_enabled": {
                    "type": "boolean",
                    "default": true,
                    "description": "Enable 24/7 continuous looping"
                  },
                  "media_asset_ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "default": [],
                    "description": "Array of initially bound media asset UUIDs"
                  }
                },
                "required": [
                  "name",
                  "profile_id"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Playlist created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "playlist": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Unique database identifier"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Creation timestamp"
                        },
                        "name": {
                          "type": "string",
                          "description": "Name of the playlist"
                        },
                        "profile_id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Owning Profile UUID"
                        },
                        "loop_enabled": {
                          "type": "boolean",
                          "description": "Loop status"
                        },
                        "workspace_id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Owning workspace"
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "media_asset_id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "sort_order": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "id",
                              "media_asset_id",
                              "sort_order"
                            ]
                          },
                          "description": "Ordered list of attached media assets"
                        }
                      },
                      "required": [
                        "id",
                        "created_at",
                        "name",
                        "profile_id",
                        "loop_enabled"
                      ]
                    }
                  },
                  "required": [
                    "message",
                    "playlist"
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Playlists"
        ],
        "summary": "List Playlists",
        "description": "Fetch all playlists mapped to the authenticated workspace. Pass ?profile_id to filter by a specific profile.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Filter by specific Profile UUID"
            },
            "required": false,
            "description": "Filter by specific Profile UUID",
            "name": "profile_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of Playlists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Unique database identifier"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Creation timestamp"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name of the playlist"
                      },
                      "profile_id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Owning Profile UUID"
                      },
                      "loop_enabled": {
                        "type": "boolean",
                        "description": "Loop status"
                      },
                      "workspace_id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Owning workspace"
                      },
                      "items": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "media_asset_id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "sort_order": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "id",
                            "media_asset_id",
                            "sort_order"
                          ]
                        },
                        "description": "Ordered list of attached media assets"
                      }
                    },
                    "required": [
                      "id",
                      "created_at",
                      "name",
                      "profile_id",
                      "loop_enabled"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/agency/playlists/{id}": {
      "get": {
        "tags": [
          "Playlists"
        ],
        "summary": "Get Playlist Details",
        "description": "Retrieve a single playlist and its nested media items by UUID.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The UUID of the playlist"
            },
            "required": true,
            "description": "The UUID of the playlist",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Playlist Details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique database identifier"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Creation timestamp"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the playlist"
                    },
                    "profile_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Owning Profile UUID"
                    },
                    "loop_enabled": {
                      "type": "boolean",
                      "description": "Loop status"
                    },
                    "workspace_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Owning workspace"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "media_asset_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "sort_order": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "id",
                          "media_asset_id",
                          "sort_order"
                        ]
                      },
                      "description": "Ordered list of attached media assets"
                    }
                  },
                  "required": [
                    "id",
                    "created_at",
                    "name",
                    "profile_id",
                    "loop_enabled"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/ai/generate": {
      "post": {
        "tags": [
          "AI"
        ],
        "summary": "Generate AI-powered social media content",
        "description": "Generate captions, hashtags, repurpose content, or improve existing text using AI. Returns per-platform optimized content respecting each platform's character limits and culture. Usage is metered per plan (Free: 10/mo, Starter: 50/mo, Pro: 200/mo, Business: 1000/mo, Enterprise: unlimited).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "caption",
                      "hashtags",
                      "repurpose",
                      "improve"
                    ],
                    "description": "Generation type. caption: generate from topic, hashtags: hashtag-only generation, repurpose: adapt text for platforms, improve: enhance existing text"
                  },
                  "topic": {
                    "type": "string",
                    "maxLength": 500,
                    "description": "Topic or subject for caption/hashtag generation (required for caption and hashtags types)"
                  },
                  "text": {
                    "type": "string",
                    "maxLength": 3000,
                    "description": "Existing text to repurpose or improve (required for repurpose and improve types)"
                  },
                  "platforms": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "instagram",
                        "x",
                        "youtube",
                        "facebook",
                        "linkedin",
                        "tiktok",
                        "threads",
                        "pinterest",
                        "bluesky"
                      ]
                    },
                    "maxItems": 5,
                    "description": "Target platforms. Each platform gets an individually optimized caption respecting its character limits and culture. Default: [\"instagram\"]"
                  },
                  "tone": {
                    "type": "string",
                    "enum": [
                      "casual",
                      "professional",
                      "funny",
                      "inspirational",
                      "genz",
                      "formal",
                      "friendly",
                      "poetic"
                    ],
                    "description": "Tone of the generated content. Default: casual"
                  },
                  "language": {
                    "type": "string",
                    "description": "Output language code (en, tr, ar, es, fr, de, pt, ja, ko, zh). Default: en"
                  },
                  "hashtag_count": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 30,
                    "description": "Number of hashtags for hashtag-only generation. Default: 15"
                  },
                  "context": {
                    "type": "string",
                    "maxLength": 500,
                    "description": "Additional context to guide generation (e.g. \"targeting small business owners\")"
                  }
                },
                "required": [
                  "type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AI-generated content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Generation type used"
                    },
                    "platforms": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Platforms content was generated for"
                    },
                    "tone": {
                      "type": "string",
                      "description": "Tone applied"
                    },
                    "language": {
                      "type": "string",
                      "description": "Language used"
                    },
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "caption": {
                            "type": "string",
                            "description": "Generated caption text"
                          },
                          "hashtags": {
                            "type": "string",
                            "description": "Generated hashtags"
                          }
                        },
                        "required": [
                          "caption",
                          "hashtags"
                        ]
                      },
                      "description": "Per-platform generated content. Keys are platform names."
                    }
                  },
                  "required": [
                    "type",
                    "platforms",
                    "tone",
                    "language",
                    "result"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "AI generation limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/integrations/youtube/broadcasts": {
      "get": {
        "operationId": "listYouTubeBroadcasts",
        "tags": [
          "YouTube Live"
        ],
        "summary": "List Broadcasts",
        "description": "Retrieves all YouTube Live Broadcast sessions for the authenticated workspace. Results are ordered by creation date descending.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Filter by Social Account ID"
            },
            "required": false,
            "description": "Filter by Social Account ID",
            "name": "account_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Filter by Profile ID"
            },
            "required": false,
            "description": "Filter by Profile ID",
            "name": "profile_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "starting",
                "live",
                "completed",
                "failed",
                "stopped"
              ],
              "description": "Filter by broadcast status"
            },
            "required": false,
            "description": "Filter by broadcast status",
            "name": "status",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Max records (Default: 50)",
              "example": "50"
            },
            "required": false,
            "description": "Max records (Default: 50)",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of broadcasts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "broadcasts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "title": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "status": {
                            "type": "string",
                            "nullable": true
                          },
                          "rtmp_url": {
                            "type": "string",
                            "nullable": true,
                            "format": "uri"
                          },
                          "stream_key": {
                            "type": "string",
                            "nullable": true
                          },
                          "youtube_broadcast_id": {
                            "type": "string",
                            "nullable": true
                          },
                          "playlist_id": {
                            "type": "string",
                            "nullable": true
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "started_at": {
                            "type": "string",
                            "nullable": true
                          },
                          "ended_at": {
                            "type": "string",
                            "nullable": true
                          },
                          "social_account_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "profile_id": {
                            "type": "string",
                            "format": "uuid"
                          }
                        },
                        "required": [
                          "id",
                          "title",
                          "description",
                          "status",
                          "rtmp_url",
                          "stream_key",
                          "youtube_broadcast_id",
                          "playlist_id",
                          "created_at",
                          "started_at",
                          "ended_at",
                          "social_account_id",
                          "profile_id"
                        ]
                      }
                    }
                  },
                  "required": [
                    "success",
                    "broadcasts"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createYouTubeBroadcast",
        "tags": [
          "YouTube Live"
        ],
        "summary": "Create Broadcast",
        "description": "Initializes a new Live Broadcast on YouTube and binds an active stream key.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "profile_name": {
                    "type": "string",
                    "description": "The exact name of the profile (e.g., Codivion TR) authoring the broadcast (White Label identifier)",
                    "example": "Codivion TR"
                  },
                  "title": {
                    "type": "string",
                    "minLength": 5,
                    "maxLength": 100,
                    "description": "Title of the YouTube broadcast",
                    "example": "My 24/7 Lo-Fi Radio Stream"
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 5000,
                    "description": "Video description text",
                    "example": "Chill beats to relax/study to."
                  },
                  "privacyStatus": {
                    "type": "string",
                    "enum": [
                      "public",
                      "unlisted",
                      "private"
                    ],
                    "default": "public",
                    "description": "Privacy level of the stream",
                    "example": "public"
                  },
                  "start_time": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Scheduled ISO-8601 start time. If omitted, defaults to immediate execution (+1m).",
                    "example": "2026-12-31T23:59:59Z"
                  },
                  "playlist_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "UUID of the CodivUpload playlist to loop",
                    "example": "123e4567-e89b-12d3-a456-426614174000"
                  },
                  "is_loop": {
                    "type": "boolean",
                    "description": "Indicates if the stream should loop indefinitely",
                    "example": true
                  }
                },
                "required": [
                  "profile_name",
                  "title"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Broadcast initialized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "session_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "broadcast_id": {
                      "type": "string"
                    },
                    "rtmp_url": {
                      "type": "string",
                      "format": "uri"
                    }
                  },
                  "required": [
                    "status",
                    "broadcast_id"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/integrations/youtube/broadcasts/{id}/stop": {
      "post": {
        "tags": [
          "YouTube Live"
        ],
        "summary": "Stop Broadcast",
        "description": "Signals the remote OVH Stream Worker to halt and transitions the YouTube session state.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The UUID of the Live Session"
            },
            "required": true,
            "description": "The UUID of the Live Session",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "delete_broadcast": {
                    "type": "boolean",
                    "default": false,
                    "description": "If true, hard deletes the broadcast. If false, transitions it to complete."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stop signal success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/integrations/youtube/playlists": {
      "get": {
        "tags": [
          "YouTube"
        ],
        "summary": "List YouTube playlists",
        "description": "Returns the authenticated user's YouTube playlists. Use the returned `playlist_id` as `youtube_playlist_id` when creating a post to add the video to a playlist.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Profile name",
              "example": "my-brand"
            },
            "required": true,
            "description": "Profile name",
            "name": "profile_name",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of YouTube playlists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "playlists": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "playlist_id": {
                            "type": "string",
                            "description": "YouTube playlist ID"
                          },
                          "title": {
                            "type": "string",
                            "description": "Playlist title"
                          },
                          "description": {
                            "type": "string",
                            "description": "Playlist description"
                          },
                          "privacy": {
                            "type": "string",
                            "description": "Privacy status"
                          },
                          "item_count": {
                            "type": "number",
                            "description": "Number of videos"
                          },
                          "thumbnail": {
                            "type": "string",
                            "nullable": true,
                            "description": "Thumbnail URL"
                          }
                        },
                        "required": [
                          "playlist_id",
                          "title",
                          "description",
                          "privacy",
                          "item_count",
                          "thumbnail"
                        ]
                      }
                    },
                    "total": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "playlists",
                    "total"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "YouTube"
        ],
        "summary": "Create YouTube playlist",
        "description": "Creates a new YouTube playlist on the authenticated user's channel. Costs 50 API units.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "profile_name": {
                    "type": "string",
                    "description": "Profile name"
                  },
                  "title": {
                    "type": "string",
                    "description": "Playlist title"
                  },
                  "description": {
                    "type": "string",
                    "description": "Playlist description"
                  },
                  "privacy": {
                    "type": "string",
                    "enum": [
                      "public",
                      "unlisted",
                      "private"
                    ],
                    "description": "Privacy status (default: public)"
                  }
                },
                "required": [
                  "profile_name",
                  "title"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Playlist created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "playlist": {
                      "type": "object",
                      "properties": {
                        "playlist_id": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "privacy": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "playlist_id",
                        "title",
                        "description",
                        "privacy"
                      ]
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "playlist",
                    "success"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/integrations/youtube/categories": {
      "get": {
        "tags": [
          "YouTube"
        ],
        "summary": "List YouTube video categories",
        "description": "Returns assignable YouTube video categories for a region. Use the returned `category_id` as `youtube_category_id` when creating a post.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "ISO 3166-1 region code (default: US)",
              "example": "US"
            },
            "required": false,
            "description": "ISO 3166-1 region code (default: US)",
            "name": "region",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of video categories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "categories": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "category_id": {
                            "type": "string",
                            "description": "YouTube category ID",
                            "example": "22"
                          },
                          "title": {
                            "type": "string",
                            "description": "Category name",
                            "example": "People & Blogs"
                          }
                        },
                        "required": [
                          "category_id",
                          "title"
                        ]
                      }
                    },
                    "total": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "categories",
                    "total"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/integrations/youtube/languages": {
      "get": {
        "tags": [
          "YouTube"
        ],
        "summary": "List YouTube languages",
        "description": "Returns YouTube supported languages (i18nLanguages). Use the returned `code` as `youtube_default_language` or `youtube_caption_language`.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Profile name"
            },
            "required": true,
            "description": "Profile name",
            "name": "profile_name",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Display language (default: en)",
              "example": "en"
            },
            "required": false,
            "description": "Display language (default: en)",
            "name": "hl",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of languages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "languages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "code",
                          "name"
                        ]
                      }
                    },
                    "total": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "languages",
                    "total"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/integrations/youtube/regions": {
      "get": {
        "tags": [
          "YouTube"
        ],
        "summary": "List YouTube regions",
        "description": "Returns YouTube supported regions/countries (i18nRegions). Use the returned `code` as values in `youtube_allowed_countries` or `youtube_blocked_countries`.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Profile name"
            },
            "required": true,
            "description": "Profile name",
            "name": "profile_name",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Display language (default: en)",
              "example": "en"
            },
            "required": false,
            "description": "Display language (default: en)",
            "name": "hl",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of regions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "regions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "code",
                          "name"
                        ]
                      }
                    },
                    "total": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "regions",
                    "total"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/posts": {
      "post": {
        "operationId": "createPost",
        "tags": [
          "Posts"
        ],
        "summary": "Create Post",
        "description": "Publish content to multiple social media platforms with a single API call.\n\nUse the `post_type` field to select the content type: **text**, **image**, **video**, or **document**. Each type shows the available fields and which platforms support it.\n\n## Scheduling\n- Omit `scheduled_date` to publish **immediately**.\n- Provide a future date (ISO-8601 UTC) to **schedule** the post. The system automatically publishes it at the specified time. Max 365 days ahead.\n\n## Platform Support\n\n| Platform  | Text | Image | Video | Document |\n|-----------|------|-------|-------|----------|\n| X/Twitter | ✓    | ✓ (4) | ✓     | —        |\n| YouTube   | —    | —     | ✓     | —        |\n| Instagram | —    | ✓ (10)| ✓     | —        |\n| Facebook  | ✓    | ✓     | ✓     | —        |\n| LinkedIn  | ✓    | ✓ (9) | ✓     | ✓        |\n| TikTok    | —    | ✓ (35)| ✓     | —        |\n| Threads   | ✓    | ✓ (10)| ✓     | —        |\n| Pinterest | —    | ✓ (1) | ✓     | —        |\n| Google Business | ✓ | ✓ (1) | ✓  | —        |\n| Bluesky   | ✓    | ✓ (4) | —     | —        |\n| Snapchat  | —    | ✓ (1) | ✓     | —        |\n| Telegram  | ✓    | ✓ (10)| ✓     | —        |\n| Discord   | ✓    | ✓ (10)| ✓     | —        |\n| Slack     | ✓    | ✓ (5) | ✓     | —        |\n| WordPress | ✓    | ✓ (1, featured) | —  | —        |\n\n*(Numbers in parentheses = max images per post)*\n\n## Common Parameters (All Post Types)\n\n| Parameter | Type | Required | Description |\n|---|---|---|---|\n| `post_type` | enum | Yes | `text`, `image`, `video`, or `document` |\n| `profile_name` | string | Yes | Target profile name in your workspace |\n| `platforms` | string[] | Yes | Target platforms to publish to |\n| `media_urls` | string[] | Conditional | Public URLs of media files (from CDN Upload or external). Required for image/video/document. Use `/v1/upload-media` to upload files first. |\n| `title` | string | No | Post title / video title / pin title |\n| `description` | string | Conditional | Post caption / body text. Required for text posts. |\n| `scheduled_date` | datetime | No | ISO-8601 UTC. Omit for immediate publishing. Cannot be used with `add_to_queue`. |\n| `add_to_queue` | boolean | No | Auto-schedule to next available queue slot. **Requires Starter plan.** Configure slots in Settings → Queue. Cannot be used with `scheduled_date`. |\n| `schedule_best_time` | boolean | No | Auto-schedule to the best posting time based on your last 90 days of analytics data. The system finds the optimal hour and day of week with highest engagement, then schedules the post for the next occurrence. Cannot be used with `scheduled_date` or `add_to_queue`. |\n| `first_comment` | string | No | Auto-posted comment after publishing (Instagram, YouTube) |\n| `auto_truncate` | boolean | No | Trim media arrays exceeding platform limits (default: false) |\n\n## Platform-Specific Parameters\n\nEach post type schema includes platform-specific override fields. These are only applied when the corresponding platform is in your `platforms` array.\n\n### YouTube (video)\n| Parameter | Type | Default | Description |\n|---|---|---|---|\n| `youtube_media_urls` | url[] | — | **Override media** for YouTube. Replaces shared `media_urls`. Upload via `/v1/upload-media` first. |\n| `youtube_type` | enum | video | `video` = regular, `shorts` = YouTube Shorts (vertical, <60 sec). Or include #Shorts in title. Thumbnails not for Shorts. |\n| `youtube_category_id` | enum | 22 | Video category (1=Film, 10=Music, 20=Gaming, 22=People&Blogs, 27=Education, 28=Sci&Tech) |\n| `youtube_tags` | string[] | [] | SEO tags (max 500 chars total) |\n| `youtube_privacy_status` | enum | public | public / unlisted / private |\n| `youtube_thumbnail_url` | url | — | Custom thumbnail image. JPG/PNG/GIF/BMP, max 2 MB. Upload via `/v1/upload-media` or provide URL. Not for Shorts. |\n| `youtube_self_declared_made_for_kids` | bool | false | COPPA: content made for children |\n| `youtube_contains_synthetic_media` | bool | false | AI-generated content flag |\n| `youtube_has_paid_product_placement` | bool | false | FTC: paid sponsorship disclosure |\n| `youtube_license` | enum | youtube | youtube or creativeCommon |\n| `youtube_embeddable` | bool | true | Allow embedding on other websites |\n| `youtube_public_stats_viewable` | bool | true | Show view/like counts publicly |\n| `youtube_default_language` | string | — | Video language (BCP-47: en, tr, es) |\n| `youtube_default_audio_language` | string | — | Audio language (BCP-47: en-US, tr-TR) |\n| `youtube_allowed_countries` | string[] | — | ISO 3166-1 codes where video is viewable |\n| `youtube_blocked_countries` | string[] | — | ISO 3166-1 codes where video is blocked |\n| `youtube_recording_date` | datetime | — | Original recording date (ISO 8601) |\n| `youtube_caption_url` | url | — | SRT subtitle file URL. Costs 400 API units. Upload via `/v1/upload-media` or provide URL. |\n| `youtube_caption_language` | string | en | BCP-47 language code for the caption file (en, tr, es, ar) |\n| `youtube_playlist_id` | string | — | Add video to a YouTube playlist after upload (50 units). Use [`GET /v1/integrations/youtube/playlists`](#tag/youtube/GET/integrations/youtube/playlists) to list playlists. |\n\n> **YouTube-specific endpoints:** Manage playlists via [`GET /v1/integrations/youtube/playlists`](#tag/youtube/GET/integrations/youtube/playlists) (list) and [`POST /v1/integrations/youtube/playlists`](#tag/youtube/POST/integrations/youtube/playlists) (create). Get video categories via [`GET /v1/integrations/youtube/categories`](#tag/youtube/GET/integrations/youtube/categories).\n\n### TikTok (video & image)\n\n*Image posts are automatically published as TikTok Photo Mode (photo carousel).*\n\n| Parameter | Type | Default | Description |\n|---|---|---|---|\n| `tiktok_media_urls` | url[] | — | **Override media** for TikTok. Replaces shared `media_urls`. |\n| `tiktok_privacy_level` | string | — | **Required.** Privacy from `GET /v1/integrations/tiktok/creator-info`: PUBLIC_TO_EVERYONE, MUTUAL_FOLLOW_FRIENDS, FOLLOWER_OF_CREATOR, SELF_ONLY. Legacy: public / friends / private. |\n| `tiktok_allow_comment` | bool | false | Allow comments. Check `GET /v1/integrations/tiktok/creator-info` — may be disabled in account settings. |\n| `tiktok_allow_duet` | bool | false | Allow duet (video only). Check creator_info — may be disabled in account settings. |\n| `tiktok_allow_stitch` | bool | false | Allow stitch (video only). Check creator_info — may be disabled in account settings. |\n| `tiktok_brand_content_toggle` | bool | false | Branded content: promoting another brand. Labels as \"Paid partnership.\" Cannot use SELF_ONLY privacy. |\n| `tiktok_brand_organic_toggle` | bool | false | Your brand: promoting yourself. Labels as \"Promotional content.\" |\n| `tiktok_is_aigc` | bool | false | AI-generated content flag (video only) |\n| `tiktok_auto_add_music` | bool | false | Auto background music (image/photo mode only) |\n| `tiktok_post_mode` | enum | DIRECT_POST | `DIRECT_POST` = publish immediately. `MEDIA_UPLOAD` = send to TikTok inbox/drafts (no metadata, add details in TikTok app). |\n| `tiktok_disable_comment` | bool | — | *(Legacy)* Prefer `tiktok_allow_comment`. |\n| `tiktok_disable_duet` | bool | — | *(Legacy)* Prefer `tiktok_allow_duet`. |\n| `tiktok_disable_stitch` | bool | — | *(Legacy)* Prefer `tiktok_allow_stitch`. |\n\n### Instagram (video & image)\n\n*Videos default to Reels. Multiple images auto-carousel.*\n\n| Parameter | Type | Default | Description |\n|---|---|---|---|\n| `instagram_media_urls` | url[] | — | **Override media** for Instagram. Replaces shared `media_urls`. |\n| `instagram_media_type` | enum | REELS | REELS (default) or STORIES. Video posts only. |\n| `instagram_share_to_feed` | bool | true | Share reel to main feed (video only) |\n| `instagram_collaborators` | string | — | Comma-separated collaborator usernames |\n| `instagram_cover_url` | url | — | Custom cover image for Reels. Upload via `/v1/upload-media` or provide URL. |\n| `instagram_user_tags` | string | — | Comma-separated @usernames (image only) |\n| `instagram_location_id` | string | — | Instagram location ID |\n| `instagram_alt_text` | string | — | Alt text for image accessibility (max 1000 chars, image only) |\n\n### Facebook (video & image)\n\n*Videos default to regular video. Use `facebook_media_type: \"REELS\"` for Reels.*\n\n| Parameter | Type | Default | Description |\n|---|---|---|---|\n| `facebook_media_urls` | url[] | — | **Override media** for Facebook. Replaces shared `media_urls`. |\n| `facebook_media_type` | enum | VIDEO | VIDEO (regular) or REELS (Facebook Reels). Video only. |\n\n### Pinterest (video & image)\n\n> **Required step:** Before posting to Pinterest, retrieve your board IDs:\n> `GET /v1/integrations/pinterest/boards?profile_name={name}`\n> Pins cannot be created without a `pinterest_board_id`.\n\n| Parameter | Type | Default | Description |\n|---|---|---|---|\n| `pinterest_media_urls` | url[] | — | **Override media** for Pinterest. Replaces shared `media_urls`. |\n| `pinterest_board_id` | string | — | **Required.** Target board ID. First call [`GET /v1/integrations/pinterest/boards`](#tag/pinterest/GET/integrations/pinterest/boards) to list your boards. |\n| `pinterest_link` | url | — | Destination URL when pin is clicked |\n| `pinterest_alt_text` | string | — | Alt text for accessibility (image only) |\n\n### Threads (all types)\n| Parameter | Type | Default | Description |\n|---|---|---|---|\n| `threads_topic_tag` | string | — | Topic tag, 1-50 chars, no periods or ampersands |\n\n### X / Twitter (all types)\n| Parameter | Type | Default | Description |\n|---|---|---|---|\n| `x_reply_settings` | enum | — | Who can reply: `following` (accounts you follow) or `mentionedUsers` (mentioned only). Omit for everyone. |\n| `x_alt_text` | string | — | Alt text for image accessibility (max 1000 chars, image only) |\n\n### LinkedIn (all types)\n| Parameter | Type | Default | Description |\n|---|---|---|---|\n| `linkedin_page_id` | string | — | Post as company page (Organization ID) |\n| `linkedin_visibility` | enum | PUBLIC | PUBLIC or CONNECTIONS |\n\n### Bluesky (text, image & video)\n| Parameter | Type | Default | Description |\n|---|---|---|---|\n| `bluesky_alt_text` | string | — | Alt text for image accessibility (max 1000 chars, image only) |\n\n### Google Business Profile (text, image & video)\n| Parameter | Type | Default | Description |\n|---|---|---|---|\n| `gbp_location_id` | string | — | Location ID from your Google Business Profile |\n| `gbp_topic_type` | enum | STANDARD | `STANDARD` = general update, `EVENT` = event announcement, `OFFER` = promotional offer |\n| `gbp_cta_type` | enum | — | Call-to-action button: `BOOK`, `ORDER`, `SHOP`, `LEARN_MORE`, `SIGN_UP`, `CALL` |\n| `gbp_cta_url` | url | — | Destination URL for the CTA button |\n| `gbp_event_title` | string | — | Title for EVENT or OFFER posts |\n| `gbp_event_start_date` | string | — | Event/offer start date (ISO 8601) |\n| `gbp_event_end_date` | string | — | Event/offer end date (ISO 8601) |\n| `gbp_event_start_time` | string | — | Event start time (HH:MM, 24h format) |\n| `gbp_event_end_time` | string | — | Event end time (HH:MM, 24h format) |\n| `gbp_coupon_code` | string | — | Coupon/promo code for OFFER posts |\n| `gbp_redeem_url` | url | — | URL where customers can redeem the offer |\n| `gbp_terms` | string | — | Terms and conditions for OFFER posts |\n| `gbp_media_urls` | url[] | — | **Override media** for Google Business. Replaces shared `media_urls`. |\n\n### Snapchat (image & video)\n| Parameter | Type | Default | Description |\n|---|---|---|---|\n| `snapchat_media_urls` | url[] | — | **Override media** for Snapchat. Replaces shared `media_urls`. |\n| `snapchat_post_type` | enum | story | `story` = 24h disappearing, `spotlight` = public Spotlight feed, `saved_story` = permanent on profile |\n| `snapchat_description` | string | — | Short description for Spotlight or Saved Story (max 160 chars) |\n| `snapchat_saved_story_title` | string | — | Title for Saved Stories (max 45 chars, required for saved_story type) |\n| `snapchat_locale` | string | — | Content locale (e.g. en_US, fr_FR) |\n| `snapchat_skip_save_to_profile` | bool | false | Skip saving Story content to public profile |\n\n### Telegram (text, image & video)\n\n| Parameter | Type | Default | Description |\n|---|---|---|---|\n| `telegram_text` | string | shared `description` | Override message text. Max 4,096 chars for text-only messages. |\n| `telegram_caption` | string | shared `description` | Override caption shown under photos/videos. Max 1,024 chars. |\n| `telegram_media_urls` | url[] | — | **Override media** for Telegram. Up to 10 items posted as an album. |\n| `telegram_disable_link_preview` | bool | false | Hide the link preview card when the message contains a URL |\n| `telegram_disable_notification` | bool | false | Send silently (visible in chat, no push notification) |\n\nTelegram authentication is bot-token based (not OAuth). Each connected social account stores one bot token and one chat ID (channel `@username` or numeric supergroup ID). The bot must be an admin of the target channel/group with permission to post.\n\n### Discord (text, image & video)\n\n| Parameter | Type | Default | Description |\n|---|---|---|---|\n| `discord_text` | string | shared `description` | Override message text. Max 2,000 chars. |\n| `discord_media_urls` | url[] | — | **Override media** for Discord. Up to 10 images render as embeds; videos auto-unfurl inline. |\n| `discord_username` | string | webhook default | Override the webhook display name for this post (max 80 chars) |\n| `discord_avatar_url` | url | webhook default | Override the webhook avatar URL for this post |\n\nDiscord authentication is webhook-based (not OAuth). Each connected social account stores one webhook URL (treated like a password and encrypted at rest). The webhook is created in the target channel's Integrations settings — anyone holding the URL can post.\n\n### Slack (text, image & video)\n\n| Parameter | Type | Default | Description |\n|---|---|---|---|\n| `slack_text` | string | shared `description` | Override message text. Max 40,000 chars. Slack mrkdwn rendered (`*bold*`, `_italic_`, `` `code` ``). |\n| `slack_media_urls` | url[] | — | **Override media** for Slack. Up to 5 images render as Block Kit image blocks; videos auto-unfurl inline. |\n| `slack_username` | string | webhook default | Override the webhook display name for this post (max 80 chars) |\n| `slack_icon_emoji` | string | webhook default | Slack emoji code like `:rocket:` — overrides the default avatar with an emoji |\n| `slack_icon_url` | url | webhook default | Override the webhook avatar with a custom image URL (ignored if `slack_icon_emoji` is set) |\n\nSlack authentication is Incoming Webhook based (not OAuth). Each connected social account stores one webhook URL. Install the Incoming Webhooks app via the workspace admin and pick the channel; the resulting URL is stored encrypted (AES-256-GCM).\n\n### WordPress (text & image)\n\n| Parameter | Type | Default | Description |\n|---|---|---|---|\n| `wordpress_title` | string | shared `title` | Override the post title. Max 200 chars. |\n| `wordpress_content` | string | shared `description` | Override the post body. Accepts HTML or Markdown. Max 100,000 chars. |\n| `wordpress_status` | enum | `publish` | One of `publish`, `draft`, `private` |\n| `wordpress_excerpt` | string | — | Short summary shown on archive pages |\n| `wordpress_slug` | string | auto | Custom URL slug (defaults to slugified title) |\n| `wordpress_category_ids` | int[] | — | WP category IDs to assign |\n| `wordpress_tag_ids` | int[] | — | WP tag IDs to assign |\n| `wordpress_media_urls` | url[] | — | **Override featured image** for WordPress. First item used as the post cover. |\n\nWordPress authentication is Application Password based (not OAuth). The site owner creates an Application Password in Users → Profile, and CodivUpload authenticates against the REST API via HTTP Basic. Requires WordPress 5.6+ with the REST API enabled. The Application Password is stored encrypted (AES-256-GCM).\n\n## Per-Platform Media Override\n\nBy default, all platforms receive the same `media_urls`. To send **different media to specific platforms**, use per-platform media override fields:\n\n| Parameter | Post Types | Description |\n|---|---|---|\n| `youtube_media_urls` | video | Override media for YouTube only |\n| `instagram_media_urls` | image, video | Override media for Instagram only |\n| `tiktok_media_urls` | image, video | Override media for TikTok only |\n| `facebook_media_urls` | image, video | Override media for Facebook only |\n| `pinterest_media_urls` | image, video | Override media for Pinterest only |\n| `gbp_media_urls` | image, video | Override media for Google Business only |\n| `snapchat_media_urls` | image, video | Override media for Snapchat only |\n| `telegram_media_urls` | image, video | Override media for Telegram only (up to 10 as album) |\n| `discord_media_urls` | image, video | Override media for Discord only (up to 10 image embeds) |\n| `slack_media_urls` | image, video | Override media for Slack only (up to 5 image blocks) |\n| `wordpress_media_urls` | text, image | Override featured image for WordPress (first item used as post cover) |\n\nWhen a `{platform}_media_urls` is provided, it replaces `media_urls` for that specific platform. Other platforms continue using the shared `media_urls`.\n\n**Example:** Post the same text but different video to YouTube and TikTok:\n```json\n{\n  \"post_type\": \"video\",\n  \"media_urls\": [\"https://cdn.codivupload.com/.../horizontal.mp4\"],\n  \"youtube_media_urls\": [\"https://cdn.codivupload.com/.../horizontal.mp4\"],\n  \"tiktok_media_urls\": [\"https://cdn.codivupload.com/.../vertical.mp4\"],\n  \"platforms\": [\"youtube\", \"tiktok\"]\n}\n```\n\n## Auto-Truncate\nSet `auto_truncate: true` to automatically trim media arrays when they exceed a platform's limit (e.g., sending 8 images when X allows only 4). If false, the request returns a 400 error.\n\n## Character Limits\n\nText is validated against platform-specific limits unless `auto_truncate: true` is set.\n\n| Platform | Post | Title | Comment | Alt Text |\n|---|---|---|---|---|\n| X (Twitter) | 280 | — | — | 1,000 |\n| YouTube | 5,000 | 100 | — | — |\n| Instagram | 2,200 | — | 2,196 | 1,000 |\n| Facebook | 63,206 | 255 | — | — |\n| LinkedIn | 3,000 | 400 | 1,250 | — |\n| TikTok | 2,200 | — | — | — |\n| Threads | 500 | — | — | — |\n| Pinterest | 500 | 100 | — | 500 |\n| Bluesky | 300 | — | — | 1,000 |\n| Telegram | 4,096 (text) / 1,024 (caption) | — | — | — |\n| Discord | 2,000 | 256 (embed) | — | — |\n| Slack | 40,000 (mrkdwn) | — | — | — |\n| WordPress | 100,000 (HTML/Markdown) | 200 (title) | — | — |\n| Google Business | 1,500 | 58 | — | — |\n| Snapchat | 160 | 45 | — | — |\n\n## Media Limits\n\n| Platform | Max File Size | Max Duration | Max Images | Formats |\n|---|---|---|---|---|\n| YouTube | 256 GB | 12 hours | — | MP4, MOV, AVI, WMV, FLV, WebM |\n| TikTok | 4 GB | 10 min | 35 (photo) | MP4, MOV, WebM |\n| Instagram | 300 MB | 15 min | 10 | JPG, PNG, MP4, MOV |\n| Facebook | 1 GB | 240 min | 10 | JPG, PNG, GIF, WebP, MP4, MOV |\n| LinkedIn | 5 GB | 10 min | 9 | JPG, PNG, GIF, MP4 |\n| X (Twitter) | 1 GB | 4 hours | 4 | JPG, PNG, GIF, WebP, MP4, MOV |\n| Threads | 1 GB | 5 min | 10 | JPG, PNG, MP4, MOV |\n| Pinterest | 1 GB | 15 min | 5 | JPG, PNG, GIF, WebP, MP4 |\n| Bluesky | 100 MB | 60 sec | 4 | JPG, PNG, GIF, WebP, MP4 |\n| Telegram | 50 MB | 1 h | 10 (album) | JPG, PNG, WebP, MP4, MOV |\n| Discord | 25 MB | 10 min | 10 (embeds) | JPG, PNG, GIF, WebP, MP4, MOV, WebM |\n| Slack | 1 GB (linked) | 10 min | 5 (blocks) | JPG, PNG, GIF, WebP, MP4, MOV, WebM |\n| WordPress | 100 MB (featured image only) | — | 1 (featured) | JPG, PNG, GIF, WebP |\n| Google Business | 25 MB | 30 sec | 1 | JPG, PNG, MP4 |\n| Snapchat | 1 GB | 300 sec | 1 | JPG, PNG, MP4 |\n\n## Daily Post Limits\n\nLimits are enforced per connected social account (not per user) within a 24-hour rolling window.\n\n| Platform | Daily Limit (per account) |\n|---|---|\n| Instagram | 50 |\n| TikTok | 15 |\n| LinkedIn | 150 |\n| YouTube | 10 |\n| Facebook | 25 |\n| X (Twitter) | 50 |\n| Threads | 50 |\n| Pinterest | 20 |\n| Bluesky | 50 |\n| Telegram | 1,000 |\n| Discord | 1,000 (30 req/min per webhook) |\n| Slack | 1,000 (1 req/sec sustained per webhook) |\n| WordPress | 100 (varies by host) |\n| Google Business | 25 |\n| Snapchat | 25 |\n\nWhen a daily limit is reached, the API returns a `429` error with details:\n```json\n{\n  \"success\": false,\n  \"error\": \"Post verification failed\",\n  \"violations\": [{\n    \"platform\": \"instagram\",\n    \"type\": \"hard_cap\",\n    \"message\": \"Daily cap reached for instagram: 50/50 in last 24h\",\n    \"used_last_24h\": 50,\n    \"cap\": 50\n  }]\n}\n```\n\n## Rate Limits\nIf a platform temporarily blocks publishing (rate limit), the post is automatically retried within a few minutes. You don't need to resend the request.\n\n## Queue System (Starter plan and above)\n\nInstead of specifying a `scheduled_date`, you can use `add_to_queue: true` to auto-schedule to the next available time slot.\nQueue endpoints require **Starter plan or above**. Free plan users receive a `403` response with `required_tier: \"starter\"`.\n\n- Configure slots (e.g., 9:00, 12:00, 17:00) via `POST /api/v1/queue/settings`\n- Preview upcoming slots: `GET /api/v1/queue/preview?profile_name=xxx`\n- Find next slot: `GET /api/v1/queue/next-slot?profile_name=xxx`\n- Default slots: 9:00 AM, 12:00 PM, 5:00 PM UTC, every day, 1 post per slot\n\n## YouTube API Quota\n\nEach YouTube API operation consumes quota units from the project (10,000 units/day default):\n\n| Operation | Unit Cost |\n|---|---|\n| Video upload (`videos.insert`) | 100 |\n| Custom thumbnail (`thumbnails.set`) | 50 |\n| Country restrictions (`videos.update`) | 50 |\n| First comment (`commentThreads.insert`) | 50 |\n| Caption/subtitle upload (`captions.insert`) | 400 |\n\nTypical video upload with thumbnail = 150 units ≈ 66 videos/day.\nUsers can provide their own Google Cloud credentials for a dedicated 10,000 unit quota.\n\n## Content Validation\n\nPosts are validated before publishing:\n- **Character limits** — enforced per platform (returns 400 if exceeded, unless `auto_truncate: true`)\n- **Banned hashtags** — Instagram/Threads/Facebook posts are checked against a list of hashtags known to cause shadow bans. Returns 400 with `violations` array.\n- **Duplicate content** — Similar content posted within 48 hours triggers a warning (non-blocking).\n- **Media format** — Unsupported file formats are rejected at upload time.\n\n---\n\n## Usage Examples\n\n> **Tip:** Use the **Example** dropdown in the request panel to load ready-to-use templates for each platform. Each example shows only the fields relevant to that scenario.\n\n### Simple text post\n```json\n{\n  \"post_type\": \"text\",\n  \"profile_name\": \"my_brand\",\n  \"platforms\": [\"x\", \"threads\", \"bluesky\"],\n  \"description\": \"Exciting news! Our new feature is live. Check it out!\"\n}\n```\n\n### YouTube video (common fields only — defaults handle the rest)\n```json\n{\n  \"post_type\": \"video\",\n  \"profile_name\": \"my_brand\",\n  \"platforms\": [\"youtube\"],\n  \"media_urls\": [\"https://cdn.codivupload.com/.../video.mp4\"],\n  \"title\": \"Product Launch 2026\",\n  \"description\": \"Full walkthrough of our new features.\",\n  \"youtube_privacy_status\": \"public\",\n  \"youtube_tags\": [\"product\", \"launch\", \"tech\"],\n  \"youtube_thumbnail_url\": \"https://cdn.codivupload.com/.../thumb.jpg\",\n  \"youtube_category_id\": \"28\"\n}\n```\n*Other YouTube fields like `youtube_license`, `youtube_embeddable`, `youtube_default_language` etc. use sensible defaults. Add them only when you need to override.*\n\n### Multi-platform video with per-platform media override\n```json\n{\n  \"post_type\": \"video\",\n  \"profile_name\": \"my_brand\",\n  \"platforms\": [\"youtube\", \"tiktok\", \"instagram\"],\n  \"media_urls\": [\"https://cdn.codivupload.com/.../horizontal.mp4\"],\n  \"tiktok_media_urls\": [\"https://cdn.codivupload.com/.../vertical.mp4\"],\n  \"instagram_media_urls\": [\"https://cdn.codivupload.com/.../square.mp4\"],\n  \"title\": \"Day in my life\",\n  \"description\": \"Follow along for a day at the office!\",\n  \"youtube_privacy_status\": \"public\",\n  \"youtube_tags\": [\"vlog\", \"day-in-my-life\"],\n  \"tiktok_privacy_level\": \"PUBLIC_TO_EVERYONE\",\n  \"tiktok_post_mode\": \"DIRECT_POST\",\n  \"instagram_media_type\": \"REELS\",\n  \"instagram_share_to_feed\": true\n}\n```\n*YouTube receives `media_urls` (horizontal). TikTok receives `tiktok_media_urls` (vertical). Instagram receives `instagram_media_urls` (square). Each platform also gets its own override fields — fields for other platforms are ignored.*\n\n### TikTok draft mode (send to inbox)\n```json\n{\n  \"post_type\": \"video\",\n  \"profile_name\": \"my_brand\",\n  \"platforms\": [\"tiktok\"],\n  \"media_urls\": [\"https://cdn.codivupload.com/.../clip.mp4\"],\n  \"tiktok_post_mode\": \"MEDIA_UPLOAD\"\n}\n```\n*In MEDIA_UPLOAD mode, no metadata (title, privacy, interactions) is sent. Add details in the TikTok app before publishing.*\n\n### Scheduled post\n```json\n{\n  \"post_type\": \"text\",\n  \"profile_name\": \"my_brand\",\n  \"platforms\": [\"linkedin\", \"x\"],\n  \"description\": \"We are hiring! Senior engineers wanted. DM us.\",\n  \"scheduled_date\": \"2026-04-15T09:00:00Z\",\n  \"linkedin_visibility\": \"PUBLIC\",\n  \"x_reply_settings\": \"following\"\n}\n```",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "profile_name": {
                        "type": "string",
                        "minLength": 1,
                        "description": "The display name of your target profile. Must match an existing profile in your workspace.",
                        "example": "Codivion TR"
                      },
                      "platforms": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "x",
                            "youtube",
                            "instagram",
                            "facebook",
                            "linkedin",
                            "tiktok",
                            "threads",
                            "pinterest",
                            "bluesky",
                            "google_business",
                            "snapchat",
                            "telegram",
                            "discord",
                            "slack",
                            "wordpress"
                          ],
                          "description": "Platform identifier"
                        },
                        "minItems": 1,
                        "description": "Target platforms to publish to. Each platform must have a connected social account for the selected profile.",
                        "example": [
                          "youtube",
                          "instagram",
                          "x"
                        ]
                      },
                      "auto_truncate": {
                        "type": "boolean",
                        "default": false,
                        "description": "Automatically trim media arrays that exceed a platform's limit (e.g., X allows max 4 images). If false, returns 400 error instead."
                      },
                      "scheduled_date": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Schedule for later publishing (ISO-8601 UTC). If omitted, the post is published immediately. Max 365 days in the future.",
                        "example": "2026-04-01T14:30:00Z"
                      },
                      "schedule_best_time": {
                        "type": "boolean",
                        "description": "Auto-schedule to the best posting time based on your last 90 days of analytics. Finds the optimal hour and day of week, schedules for the next occurrence. Cannot be used with scheduled_date or add_to_queue."
                      },
                      "title": {
                        "type": "string",
                        "description": "Post title. Used as video title on YouTube, pin title on Pinterest, and prepended to caption on other platforms.",
                        "example": "New Product Launch"
                      },
                      "description": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Your post text (required). Character limits by platform:\n• X/Twitter — 280 characters\n• Bluesky — 300 characters\n• Threads — 500 characters\n• LinkedIn — 3,000 characters\n• Telegram — 4,096 characters (text-only); 1,024 chars when used as media caption\n• Discord — 2,000 characters\n• Slack — 40,000 characters (mrkdwn supported)\n• WordPress — 100,000 characters (HTML or Markdown body)\n• Facebook — 63,206 characters",
                        "example": "Exciting news! We just launched our new scheduling feature. #SocialMedia #Automation"
                      },
                      "first_comment": {
                        "type": "string",
                        "description": "Automatically post a comment after publishing. Supported on Instagram and YouTube.",
                        "example": "Link in bio!"
                      },
                      "post_type": {
                        "type": "string",
                        "enum": [
                          "text"
                        ],
                        "description": "Set to \"text\" for text-only posts (no media)."
                      },
                      "threads_topic_tag": {
                        "type": "string",
                        "maxLength": 50,
[...]
